<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Practica integradora</title>
    </head>
        <body>
            <header>
                <!--Logotipo-->
                <!--Barra de navegacion-->
                <!--Barra de busqueda-->
                <!--Enlaces a redes sociales-->
            </header>
            <nav>
                <img src="../public/logo-mercado-liebre.svg">
                
                <p>
                    <h1>Lugar para poner la barra de busqueda</h1>
                </p>
                <p>
                    <h1>Compra en cuotas y sin tarjeta de credito</h1>
                </p>
                <ul>
                    <li><a href="ofertas.html">Seccion: Basado en tu ultima visita</a></li>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            <main>
                <ul>
                    <li><a href="">Crea tu cuenta</a></li>
                    <li><a href="">Ingresa</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
            </main>
        
            <footer>
                <!--texto 1-->
                <seccion>
                    <h3>Paga con tarjeta en efectivo</h3>
                    <p>Con Mercado Libre Cash, tenes cuotas sin interes con targeta o en efectivo en puntos de pago.¡Y siempre es seguro!</p>
                </seccion>
                <!--texto 2-->
                <seccion>
                    <h3>Envios gratis desde $2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Libre tenes envios gratis en miles de productos. Es un benefisio de Mercado Puntos.</p>
                </seccion>
                <!--texto 3-->
                <seccion>
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, por que estas siempre protegid@.</p>
                </seccion> 
                <section>
                    <p>Copyright c 1999-2020 MercadoLibre S.R.L.</p>
                </section>
            </footer>
            <img src="../public/img-home-banner.jpg">
        </body>
</html>